---
import Layout from '../../../layouts/Layout.astro';
---

<Layout>
  <style>
    #canvas {
      background-color: white;
      width: 100%;
      aspect-ratio: 1 / 1;
    }
    .centered {
      text-align: center;
    }
  </style>
  <div class="centered">
    <canvas id="canvas" width="600" height="600"></canvas>
    <script src="/projects/otcirc/index.js" is:inline></script>
    <br />
    <button onclick="balance()">Balance</button>
  </div>
</Layout>
