---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
  <h1>Projects</h1>
  <ul>
    <li><a href="/projects/mandelbrot/">mandelbrot</a></li>
    <li><a href="/projects/otcirc/">otcirc</a></li>
  </ul>
</Layout>
