html {
  color-scheme: light dark;
}

body {
  font-family: serif;
  font-size: 1.25rem;
  line-height: 1.5;
}

main {
  max-width: 80ch;
  margin-left: auto;
  margin-right: auto;
}

header {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav a:hover {
  text-decoration: underline;
}
